body{
    margin: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,46,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
}
.container{
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(10,1fr);
    height: 100vh;
}
.item1{
    grid-column: 4/8;
    grid-row: 4/6;

    background-color: chocolate;

}